@media (max-width: 970px) {
  .container {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
  }

  .navbar .nav-links a {
      padding: 10px;
  }
}

@media (max-width: 720px) {
  .container {
      grid-template-columns: 1fr;
  }

  .video-section .intro-text h1 {
      font-size: 2.5em;
  }

  .video-section .intro-text p {
      font-size: 1.2em;
  }
}

@media (max-width: 546px) {
  .navbar {
      flex-direction: column;
  }

  .navbar .nav-links {
      flex-direction: column;
  }

  .container {
      padding: 10px;
  }

  .grid-item {
      padding: 10px;
  }
}
@media (min-width: 546px) {
  .testimonial-item {
      width: calc(50% - 20px); /* Two items per row */
  }
}

@media (min-width: 720px) {
  .testimonial-item {
      width: calc(33.333% - 20px); /* Three items per row */
  }
}

@media (min-width: 970px) {
  .testimonial-item {
      width: calc(25% - 20px); /* Four items per row if applicable */
  }
}
