$white: #f9fcfb;
$black:#050505;
$primary1: #03de1c;
$primary2: #0dc3ff;

@font-face {
  font-family: " Helvetica", sans-serif;
  src: url("../fonts/Helvetica.ttf");
  font-weight: normal;
}

@font-face {
  font-family: " Helvetica", sans-serif;
  src: url("../fonts/Helvetica\ Bold.ttf");
  font-weight: bold;
}

@mixin main-font {
  font-family: "Poppins", sans-serif;
}

@mixin second-font {
  font-family: "Helvetica", sans-serif;
}

@mixin third-font {
  font-family: 'Roboto', sans-serif;
}

@mixin hero_btn($col1, $col2, $pad1, $pad2) {
  display: inline-block;
  padding: $pad1 $pad2;
  background-color: $col1;
  color: $col2;
  transition: all .3s;
  border: 1px solid transparent;

  &:hover {
    background-color: transparent;
    border-color: $col1;
    color: $col1;
  }
}

@mixin upperBold {
  text-transform: uppercase;
  font-weight: bold;
}


html{
  overflow-x: hidden;
}

body {
  @include main-font;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.heading_container {
  display: flex;
  align-items: center;

  h2 {
    font-size: 3rem;
    margin: 0 10px 0 0;
  }

  hr {
    height: .8px;
    background-color: $primary1;
    flex-grow: 1;
    border: none;
  }
}

/*header section*/
.hero_area {
  height: 100vh;
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;

}

.sub_page {
  .hero_area {
    height: auto;
  }

  .about_section {
    padding: 150px 0;
  }

  .car_section {
    margin-bottom: 75px;
  }
}

.hero_area.sub_pages {
  height: auto;
}

.header_section {
  @include third-font();

  .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }

  .nav_container {
    margin: 0 auto;
  }


}

.custom_nav-container.navbar-expand-lg {
  .navbar-nav {
    .nav-item {
      .nav-link {
        padding: 35px 15px 10px 15px;
        color: $white;
        text-align: center;
        text-transform: uppercase;
      }

      &.active,
      &:hover {
        .nav-link {
          background-color: $primary1;
        }
      }
    }

  }
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}


.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 17px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.custom_nav-container {
  form {
    padding-top: 30px;
  }
}


.navbar-brand {
  padding-top: 30px;

  img {
    width: 80px;
  }
}

.custom_nav-container {
  z-index: 99999;
  padding: 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 55px;
}

.login_btn-container {
  padding-top: 30px;

  a {
    color: $primary1;
    text-transform: uppercase;
    @include second-font();
  }
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 40px;
}


/*end header section*/

/* slider section */
.slider_section {
  color: $white;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: center;



  #carouselExampleIndicators {
    position: unset;
  }

  .carousel_btn-container {
    width: 110px;
    position: absolute;
    bottom: 5%;
    display: flex;
    justify-content: space-between;
    right: 2%;
    z-index: 999;

    .carousel-control-prev,
    .carousel-control-next {
      position: relative;
      width: 50px;
      height: 50px;
      border: none;
      border-radius: 100%;
      opacity: 1;
      background-repeat: no-repeat;
      background-size: 8px;
      background-position: center;
      background-color: $primary1;
      position: unset;


      &:hover {
        background-color: #f6f6f6;
      }
    }



    .carousel-control-prev {
      background-image: url(../images/left-arrow-white.png);
      background-position: 19px center;

      &:hover {
        background-image: url(../images/left-arrow-black.png);
      }
    }

    .carousel-control-next {
      background-image: url(../images/right-arrow-white.png);
      background-position: 22px center;

      &:hover {
        background-image: url(../images/right-arrow-black.png);
      }
    }
  }

  ol.carousel-indicators {
    margin: 0;
    bottom: 5%;
    left: initial;
    right: calc(2% + 110px);

    li {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      text-indent: 0px;
      text-align: center;
      line-height: 55px;
      color: $white;
      margin: 0 40px;
      background-color: transparent;
      opacity: 1;
      border: none;

      &.active {
        color: $primary1;
      }
    }
  }


}

.slider_detail-box {
  h1 {
    font-weight: bold;
    margin-bottom: 25px;
    font-size: 4rem;
    text-transform: uppercase;
    @include second-font();
    position: relative;

    &::before {
      content: "";
      width: 50px;
      height: 2px;
      position: absolute;
      left: -150px;
      top: 50%;
      background: #fff;
    }

  }

  .btn-box {
    a {
      @include hero_btn($primary1, $white, 12px, 55px);
      margin: 35px 0 50px 0;
      text-transform: uppercase;
    }
  }
}

// end slider section

// find section

.find_section {
  form {
    padding: 20px 45px;
    -webkit-box-shadow: 0px 0px 20px 11px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 0px 20px 11px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 0px 20px 11px rgba(0, 0, 0, 0.09);

    h5 {
      text-transform: uppercase;
      color: $primary1;
      margin: 0;
      font-weight: bold;
      font-size: 18px;
    }

    .form-control {
      margin: 15px 0;
      outline: none;
      box-shadow: none;

    }

    select {
      appearance: none;
      background-image: url(../images/down-arrow.png);
      background-size: 15px;
      background-position: 97% center;
      background-repeat: no-repeat;
    }

    button {
      @include hero_btn($primary1, $white, 8px, 15px);

      &:hover {
        color: darken($color: $primary1, $amount: 5);
      }
    }
  }
}


// end find section

// car section
.car_section {
  .col-md-6 {
    display: flex;
    flex-direction: column;
    @include third-font();
    padding: 25px;

    .detail-box {
      display: flex;
      justify-content: space-between;

      .btn-box {

        a {
          @include hero_btn($primary1, $white, 5px, 12px);
        }
      }

      .detail_text {
        display: flex;
        justify-content: space-between;

        h4 {
          text-transform: uppercase;
          font-weight: bold;
          margin: 0;
          line-height: 35px;

          span {
            color: $primary1;
          }
        }

        .name {
          margin-right: 25px;
        }

      }
    }

    .img-box {
      width: 85%;
      margin: 0 auto;

      img {
        width: 100%;
      }
    }

    &.c-1 {
      border-right: 1px dashed $black;
      border-bottom: 1px dashed $black;
    }

    &.c-2 {
      border-bottom: 1px dashed $black;
    }

    &.c-3 {
      border-right: 1px dashed $black;
    }

    &.c-1 {}
  }

  .see_more-btn {
    @include hero_btn(#282828, $white, 8px, 35px);
  }
}

// end car section

// about section
.about_section {
  color: $white;
  background-image: url(../images/about-bg.jpg);
  background-size: cover;

  p {
    margin: 55px 0;
  }

  .heading_container {
    hr {
      background-color: $white;
    }
  }

  a {
    @include hero_btn($white, $black, 10px, 50px);
  }
}



// end about section

// feature section
.feature_section {
  .content {
    .number-box {
      width: 45px;
      height: 45px;
      border-radius: 100%;
      background-color: #0a0b0a;
      color: $white;
      font-weight: bold;
      text-align: center;
      line-height: 45px;
      margin: 0 auto;
      transform: translateY(50%);
    }

    .top-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 300px;
      background-color: #edeeed;
      padding-top: 50px;


      .img-box {
        img {
          width: 100%;
        }
      }

      .img-text {
        background-color: $primary1;
        color: $white;
        padding: 10px;
        text-align: center;

        h6 {
          margin: 0;

          &.price {
            font-weight: bold;
            padding-bottom: 3px;
            border-bottom: .8px solid $white;
            margin-bottom: 8px;
          }
        }
      }
    }

    .bottom-content {
      margin-top: 25px;

      h5 {
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    &:hover {
      .top-content {
        background-color: $primary1;
      }

      .img-text {
        background-color: $white;
        color: $black;
      }
    }
  }


  .carousel-control-prev {
    background-image: url(../images/left-arrow-white.png);
    background-position: 19px center;


  }

  .carousel-control-next {
    background-image: url(../images/right-arrow-white.png);
    background-position: 22px center;


  }

  .owl-nav {
    >div {
      width: 50px;
      height: 50px;
      margin-top: -26px;
      position: absolute;
      top: 50%;
      color: #cdcbcd;
      background-color: $primary1;
      background-size: 10px;
      background-position: center;
      background-repeat: no-repeat;

      &:hover {
        background-color: $black;
      }
    }

    .owl-prev {
      background-image: url(../images/left-arrow-white.png);
      left: -10%;

    }

    .owl-next {
      right: -10%;
      background-image: url(../images/right-arrow-white.png);

    }
  }

}



// end feature section



// special section

.special_section {
  background-image: url(../images/special-bg.jpg);
  background-size: cover;
  padding: 125px 0;

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: $white;
    margin: 25px 0;

    .img-box {
      margin-bottom: 15px;

      img {
        width: 100%;
      }
    }

    h5 {
      text-transform: uppercase;
      font-weight: bold;

      &.price {
        color: $primary1;
      }
    }
  }
}

// end special section

// client section
.client_section {

  .client-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 150px;

    .client-detail {
      width: 100%;
      padding: 15px;
      font-size: 14px;
      box-shadow: 0px 5px 42px -7px rgba(0, 0, 0, 0.15);
      margin-top: 40px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -35px;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 55px solid #fff;
        transform: translateX(-50%);
      }

      p {
        margin: 0;
        max-height: 76px;
        overflow: hidden;
        font-size: 12px;
      }
    }

    .img-box {
      margin: 45px 0 25px 0;
      width: 75px;

      img {
        width: 100%;
      }
    }

    .name {
      h6 {
        text-transform: uppercase;
        margin: 0;
      }

      p {
        font-size: 14px;
        color: $primary1;
        margin: 0;
      }

      img {
        width: 15px;
        margin: 5px auto;
      }
    }
  }

  .slick-slider {
    width: 100%;


    .slick-track {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      height: 400px;
      justify-content: center;
    }


    .slick-active.slick-center {
      .client-box {
        width: 420px;
        padding: 0 15px;

        .client-detail {
          box-shadow: none;
          border: 1px solid $black;

          &::after {
            display: none;
          }

          p {
            max-height: unset;
            font-size: 14px;
          }
        }
      }
    }

    .slick-slide {
      float: none;
      display: inline-block;
      vertical-align: middle;
      padding: 10px 0px;
      margin: 10px;
      transition: all 0.3s ease;
      height: auto;
      text-align: center;

      &.slick-current,
      &.slick-center {
        padding: 30px 0px;
      }
    }
  }

  .slick-prev,
  .slick-next {
    z-index: 10;
    top: 0px;
    background-color: transparent;
  }

  .slick-prev {
    left: 10px;
  }

  .slick-next {
    right: 10px;
  }

  .slick-dots {
    margin-top: 30px;
    position: unset;

    li {
      width: 14px;

      button:before {
        color: $primary1;
        opacity: 1;
        font-size: 10px;
      }

      &.slick-active button:before {
        font-size: 15px;
      }
    }
  }

}

// end client section


/* contact section */
.contact_section .col-md-6 {
  padding: 0;

  input {
    border: none;
    outline: none;
    border-bottom: 1px solid #252525;
    width: 90%;
    margin: 15px 0;
  }
}

.contact_form-container {
  padding: 45px;
  padding-right: 0;

  button {
    @include hero_btn(#121313, $white, 12px, 55px);
    border-radius: 5px;
  }
}


.contact_img-box {
  padding: 45px;

  img {
    width: 97%;
  }
}

/* end contact section */
/* info section */
.info_section {
  background-color: #1a1a1a;
  color: $white;
  font-family: 'Poppins', sans-serif;


  .social_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary1;
    padding: 20px 35px;
    border-radius: 5px;
    transform: translateY(-50%);

    a {
      display: flex;
    }

    h6 {
      margin: 0;
      color: $white;
    }

    .number-box {
      display: flex;
    }

    .mail-box {
      display: flex;
      padding: 0 35px 0 15px;
      border-right: 2px solid $white;
    }

    .social-box {
      display: flex;
      padding-left: 35px;

    }

    img {
      height: 20px;
      margin-right: 10px;
    }
  }

}

.info_section ul {
  padding: 0;

  li {
    list-style-type: none;
    margin: 3px 0;

    a {
      color: $white;

      &:hover {
        color: $white;
      }
    }
  }
}



.info_section h5 {
  margin-bottom: 12px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}



.info_section .form_container input {
  width: 225px;
  height: 40px;
  padding: 10px;
}

.info_section .form_container input::placeholder {
  color: #ccc8c8;
}

.info_section .form_container button {
  background-color: $primary1;
  @include hero_btn($primary1, $white, 8px, 30px);
  margin-top: 15px;
  font-size: 15px;
  text-transform: uppercase;
}



/* end info section */
/* footer section*/

.footer_section {
  font-weight: 500;
  display: flex;
  justify-content: center;
  background-color: #1a1a1a;
}

.footer_section p {
  color: $white;
  margin: 0;
  text-align: center;
  padding: 20px 15%;
  border-top: 1px solid $white;
}

.footer_section a {
  color: $white;
}

/* end footer section*/