<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Details</title>
    <link rel="stylesheet" href="/css/info.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1>Car Services</h1> <!-- Logo Title -->
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="/buy">Buy</a></li>
                <li><a th:href="@{/addcar}">Add Car</a></li>
                <li><a th:href="@{/listcar}">Your Cars</a></li>
                <li><a th:href="@{/paymentdue}">Payment Due</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>Customer Details</h1>

        <div class="customer-details">
            <!-- <p><strong>ID:</strong> <span th:text="${userdetails.custId}"></span></p> -->
            <p><strong>First Name:</strong> <span th:text="${userdetails.firstName}"></span></p>
            <p><strong>Middle Name:</strong> <span th:text="${userdetails.middleName}"></span></p>
            <p><strong>Last Name:</strong> <span th:text="${userdetails.lastName}"></span></p>
            <p><strong>License No:</strong> <span th:text="${userdetails.license}"></span></p>
            <p><strong>Mobile No:</strong> <span th:text="${userdetails.phoneNo}"></span></p>
            <p><strong>Address:</strong> <span th:text="${userdetails.houseNo} + ', ' + ${userdetails.street} + ', ' + ${userdetails.city} + ', ' + ${userdetails.state}"></span></p>
            <p><strong>Aadhar No:</strong> <span th:text="${userdetails.aadharNo}"></span></p>
        </div>

        <div class="actions">
            <a th:href="@{/edit/info}" class="btn">Edit Details</a>
            <a th:href="@{/delete/info}" class="btn">Delete your Account</a>
        </div>
    </div>
</body>
</html>
